<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreelancerInDetails</title>
    <link rel="stylesheet" href="/style.css">>
</head>
<body>
<div id="main">
    <div id="content">
        <div id="header">
            <div id="title">
                <h1>Freelancer Manager</h1>
            </div>
        </div>
        <div id="index">
            <ul>
                <li>
                    <a href="/home"> Home</a>
                </li>
                <li>
                    <a href="/freelance">Freelancers</a>
                </li>
            </ul>
        </div>
        <div id="section1">
            <div class="sub-section">
                <div class="image">
                    <img src="/freelancer.png" height="1024" width="1024"/>
                </div>
                <div class="details">
                    <div id="properties">
                        <div id="properties_title">
                            <h3>Generalità</h3>
                        </div>
                        <div>
                            <p class="bold">Name: </p>
                            <span th:text="${freelancer.name}"></span>
                        </div>
                        <div>
                            <p class="bold">Surname: </p>
                            <span th:text="${freelancer.surname}"></span>
                        </div>
                        <div>
                            <p class="bold">Partita Iva: </p>
                            <span th:text="${freelancer.p_iva}"></span>
                        </div>
                        <div>
                            <p class="bold">Età: </p>
                            <span th:text="${freelancer.age}"></span>
                        </div>
                    </div>
                    <div id="contracts">
                        <div id="cotracts_title">
                            <h3>Contracts</h3>
                        </div>
                        <div th:each="contracts : ${freelancer.getContracts()}">
                            <div>
                                <div style="display:inline">
                                    <p class="bold">Commission <span th:text="${contracts.getId()}"></span></p>
                                    <span th:text="${contracts.commission}"></span>
                                </div>

                            </div>
                            <div>
                                <p class="bold">Payment:</p>
                                <span th:text="${contracts.payment}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>