<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employer</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="main">
  <div class="content">
    <div id="header">
      <div id="title">
        <h1> Employer Manager</h1>
      </div>
    </div>
    <div id="index">
      <ul>
        <li>
          <a href="/home"> Home</a>
        </li>
      </ul>
    </div>
    <div id="section1">
      <div class="sub-section">
        <div class="image">
          <img src="/employer.png" height="1024" width="1024"/>
        </div>
        <div class="overlay"></div>
        <div class="section">
          <div th:each="employer : ${employers}" >
            <a th:href="@{employer/detail(id=${employer.id})}">
              <table class="employers">
                <tr>
                  <td>
                    <span th:text="${employer.name}"></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span th:text="${employer.address}"></span>
                  </td>
                </tr>
              </table>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="section2">
      <div id="sub-section">
        <div id="sub_title">
          <h2>Inserimento Employer</h2>
        </div>
        <div>
          <form action="employer" method="POST">
            <input type="text" name="name" placeholder="Name" id="name">
            <input type="text" name="address" placeholder="Address">
            <input type="submit" value="Inserisci">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/employerUi.js" defer></script>
</body>
</html>